.navbar {
    width: 100%;
    height: 56px;
    box-sizing: border-box;
}

.container-fluid {
    max-width: 1512px;
    margin: 0 auto;
    padding: 0 15px;
}

.nav-link:hover {
    border-bottom: 3px solid #fff;
    color: #fff;
}

.search-result-page {
    padding: 20px;
    color: #333;
  }
  
  .search-result-page h2 {
    margin-bottom: 20px;
    color: #f7c400;
  }
  
  .search-result-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    width: 100%;
  }
  
  .search-result-page p {
    font-size: 1.2rem;
    color: #888;
  }