.navbar {
    width: 100%;
    height: 56px;
    box-sizing: border-box;
}

.container-fluid {
    max-width: 1512px;
    margin: 0 auto;
    padding: 0 15px;
}

.nav-link:hover {
    border-bottom: 3px solid #fff;
    color: #fff;
}

