.rackpage {
    display: flex;
    flex-direction: column;
    background-color: #252424;
    height: 100vh;
    color: white;
    align-items: baseline;
}
.title{
    display: flex;
    margin-top: 15px;
    padding-left: 100px;
    margin-bottom: 0px;
}
.desc{
    display: flex;
    padding-left: 100px;
    font-size: 14px;
    margin-bottom: 0px;
}
.desc__text {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 0px;
}
.desc__text {
    display: flex;
    width: 85%;
    font-weight: 350;
    text-align: left;
    color: white;
    padding-left: 100px;
}

.rack-items {
    margin-bottom: 20px;
}
/* Responsive adjustments */
@media (max-width: 768px) {
    .title {
        font-size: 20px;
    }

    .desc {
        font-size: 16px;
    }

    .desc__text {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .title {
        font-size: 18px;
    }

    .desc {
        font-size: 14px;
    }

    .desc__text {
        font-size: 12px;
    }
}
