body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #242323;
  max-width: 1512px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 2.4em;
  line-height: 1.1;
}
h3 {
  font-size: 1.8em;
  line-height: 1.1;
}
h4 {
  font-size: 1.6em;
  line-height: 1.1;
}
h5 {
  font-size: 1.4em;
  line-height: 1.1;
}
h6 {
  font-size: 1.2em;
  line-height: 1.1;
}

